body{
    margin: 0px;
}
nav {
    margin-top: 0px;
    padding-bottom: 10px;
    background-color: white;
    font-family: sans-serif;
    font-size: small;
    position: sticky;
    top: 0.5px;
}
.headline{
    background-color: #ffd741;
    height: 40px;
    margin-bottom: 20px;    
    text-align: center;
}


.container {
    margin-top:10px;
    height: 60px;
    width: 89%;
    margin: auto;
    background-color: rgba(244, 243, 243, 0.781);
    border: 0.5px;
    border-style: ridge;
    display: flex;
    border-radius: 5px;


}

.middle {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 15%;
    padding-right: 20%;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.down {

    text-align: center;
    height: 30px;
    width: 100px;
    place-content: center;
    border-radius: 1px;
    background-color: rgba(255, 201, 5, 0.825);
}

img {
    height: 50px;
    margin-right: 50px;
    align-self: flex-start;
}

/* section part*/
section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

section .bold {
    margin-top: 30px;
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    gap: 5px;
}

section p {
    width: 410px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 5px;
    color: grey;

}

button img {
    height: 10px;
    width: 10px;
    margin: 0px;

}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: max-content;
    height: 40px;
    background-color: #ffd741;
    border: none;
    border-radius: 6px;
    gap: 10px;
}

.txt {
    display: flex;
    margin-top: 30px;
    font-family: sans-serif;
    height: 30px;
    gap: 10px;
    color: gray;
}

.txt img {
    height: 40px;
    width: 40px;
    margin: 0px;
    align-self: center;

}

.txt span {
    font-size: 20px;

}

/*main content*/
.containerMain {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    margin-top: 40px;
    gap: 25px;
    justify-content: start;
    place-content: center;


}

.containerMain .itemMain {
    width: 350px;
    height: 160px;
    background-color: #f2f0ec;
    border-radius: 15px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 14px;


}

.containerMain .lang {
    font-size: 16px;
    font-weight: 600;



}

.containerMain p {
    margin: 0;
}

.containerMain .langId {
    font-size: 6px;
}

.langDown {
    padding: 8px;
    width: 125px;
    height: 9px;
    background-color: #ffd741;
    border-radius: 6px;
    margin-left: 104px;
    font-size: small;
}

.langNum {
    font-size: 8px;

}

.oneLineLang {
    font-size: 16px;
    font-weight: 600;
}

/* second section*/
.sectionContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;

    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.sectionItem-1 .p1 {
    font-size: 27px;
    font-weight: 700;
    text-align: start;
}

.sectionItem-1 .p2 {
    width: fit-content;
    font-size: small;
    text-align: start;

}

.sectionItem-1 {
    width: 350px;
    height: 200px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-content: center;
    gap: 10px;
    text-align: center;
    font-family: sans-serif;
}

.sectionItem-2 {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(26, 25, 25, 0.893);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    gap: 8px;


}

.sectionItem-2 .p1-2 {
    color: rgb(5, 145, 246);
    font-weight: 500;
    font-size: 23px;
}

.sectionItem-2 .p2-2 {
    color: white;
    font-size: 15px;
    font-weight: 600;

}

input.p3-2 {
    width: 65%;
    height: 100%;
}

.sectionItem-2 .p4-2 {
    height: 23px;
    width: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: small;
    background-color: #ffd741;
    align-self: center;
    margin-top: 5px;
}

/*footer content*/
.sectionContainer-3 {
    display: flex;
    background-color: #f2f0ec;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sectionContainer-3 .sectionItem-3-1 {
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    word-spacing: normal;

}

.sectionContainer-3 .sectionItem-3-1 .subItem-1 {
    width: 321px;

}

.sectionContainer-3 .sectionItem-3-1 .subItem-2 {
    width: 30%;
}

.sectionItem-3-1 .subItem-2 div.para {
    text-align: start;
    margin-bottom: 40px;

}

.head {
    font-weight: 500;
    font-size: 25px;
    padding: 0px 0px 10px;
    font-family: inter Arial, Helvetica, sans-serif;
}

.sectionContainer-3 .sectionItem-3-2 {
    height: 350px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: 39% 12% 20.2% 13.9% 13.9%;
    grid-template-rows: auto auto;
    background-color: rgb(22, 21, 21);
}

.sectionContainer-3 .sectionItem-3-2 .subItem-3-1 {
    color: #f2f0ec;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    grid-row: 1/3;
    margin-left: 25px;
    margin-top: 25px;
    gap: 5px;
}

.sectionContainer-3 .sectionItem-3-2 .subItem-3-1 .para {
    font-size: 13px;
    word-spacing: 1px;
    width: 308px;
    line-height: 1.5;
}

.sectionContainer-3 .sectionItem-3-2 .subItem-3-1 span {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;
}

.sectionContainer-3 .sectionItem-3-2 .subItem-3-1 .paraFoot {
    font-size: 12px;
    font-weight: 600;
    padding-top: 50px;
}

.sectionContainer-3 .sectionItem-3-2 .subItem-3-1 .para.foot {
    font-size: 11px;
    font-family: sans-serif;
    color: #9f9d98;
    font-weight: 500;

}

.sectionContainer-3 .sectionItem-3-2 .subItem-3-1 .footInput {
    position: relative;
    display: flex;
    background: rgb(57, 54, 54);
    padding: 2px;
    border-radius: 5px;

}

.sectionContainer-3 .sectionItem-3-2 .subItem-3-1 input {
    height: 25px;
    background: rgb(57, 54, 54);
    border: none;
}

.sectionContainer-3 .sectionItem-3-2 .subItem-3-1 .footButton {
    height: 30px;
    width: fit-content;
}

.sectionContainer-3 .sectionItem-3-2 a {
    display: block;
    color: #9f9d98;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 2;
}

.sectionContainer-3 .sectionItem-3-2 p {
    font: size 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
}

.sectionContainer-3 .sectionItem-3-2 .finalFoot {
    grid-row: 2/4;
    grid-column: 4/6;
    margin-top: 140px;
    color: #9f9d98;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}